


/*header related styles*/
.header{
    background-color: rgb(255, 232, 246);
    padding-bottom: 0;
   
}
.banner-content{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background{
    width: 500px;
    margin: 20px 50px;
}
.banner-left{


    font-size: 30px;
    font-weight: 800;
    color: rgb(101, 90, 75);
}
    




