


/*header related styles*/
.header{
    background-color: aquamarine;
   
}
.banner-content{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.background{
    width: 500px;
   
     
}

