


/*header related styles*/
.header{
    background-color: rgb(255, 232, 246);
    padding-bottom: 0;
 
   
}
.banner-content{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background{
    width: 500px;
    margin-bottom: 0;
    padding-bottom: 0;
}


.banner-title{
    
    font-size: 50px;
    font-weight: 800;
    color: rgb(45, 71, 68);
}
.buttonn{
    color: rgb(230, 230, 236);
    background-color: brown;
    width: 95px;
    height: 50px;
    border-radius: 10%;
    border: 0;
}
/*extra section styles*/
.extra-flr{
    display: flex;
    background-position: center;
    margin: 20px;
}
.flr1{
    background-color: pink;

}
.flr2{
    background-color: aqua;
}
.flr3{
    background-color: beige;
}
.extra{
    text-align: center;
}
/*main section styles*/
.dicount{
    color: red;
}
.main{
    background-color: rgb(249, 200, 208);
   padding-bottom: 30px;
   border-radius: 10px;
   margin: 150px ;
   width: 1000px;
   height: 200px;
   text-align: center;
  
}
.main-content{
    padding:  10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background2{
    width: 170px;
   
}

/*middle section styles*/
 .middle-title{
    font-size: 700;
    font-weight: 300px;
   }

 .middle-content{
    margin-top: 0%;
    text-align: center;
    background-position: center;
 } 
 .instra{
    margin: 5px;
    height: 400px;
    
 }
 .latest-deals{
    background-image: url(Rectangle\ 9.png);
    text-align: center;
    padding: 20px;
    width: 1000px;
    background-size: cover;
    margin-top: 20px;
 }
 .deals-title{
    font-size: 30px;
 }
 
 #email{
    width: 80vh;
    height: 40px;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
 }
 .sub-btn{
    border: 0;
    width: 100px;
    height: 40px;
    background-color: red;
    margin-left: 5px;
    border-radius: 5px;
 }
 /*footer section styles*/
 .ftr-title{
    color: brown;
 }
 .ftr{
    color: aliceblue;
    text-align: center;
    background-color: black;
    padding: 30px;
 }




